.app-header {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // height: 100%;
    z-index: 50;
    background-color: $clr1;
    padding: 5px 13px 8px;
    position: fixed;
    z-index: 200;
    height: 100vh;
    width: 66px;

    nav{
        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            margin-block-end: 8px;
            color: $clr6;
            padding: 9px;
            border-radius: 8px;
        &:hover {
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
    
        .account::after {
            font-family: fa-solid;
            content: "\f009";
        }
        
        .login-link{
            width: 44px;
            height: 44px;
            img{
                width: 44px;
                height: 44px;
                border: 2px solid $clr2;
                transition: 0.1s;
            }
            &:hover{
                background: none;
                img{
                    width: 40px;
                    height: 40px;
                }
            }
        }
    }
}
