.MuiCalendarPicker-root {
    background-color: #fff;
    z-index: 20;
    position: absolute;
    top: 39px;
    transform: translateX(-100%);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}



// date picker at monthList style:
.MuiGrid-root{
    padding: 0 !important;
    top: 100px;
    // left: 56px;
}

.MuiGrid-container{
    position: relative; 
    row-gap: 30px;
    z-index: 15;
}

.MuiYearPicker-root.css-x1wgng-MuiYearPicker-root, .MuiMonthPicker-root.css-n3vk4j-MuiMonthPicker-root{
    padding: 0 !important;
    margin: auto !important;
    width: fit-content !important;
    max-width: 330px !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-12.css-57lrl0 {
    margin-top: 0 !important; 
    width: unset !important; 
    margin-left: unset !important;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-spacing-xs-12.css-1fh410u-MuiGrid-root{
    margin: auto;
    margin-top: 1px;
    width: 800px;
    
    @include for-mobile-layout{
        width: 100%;
    }
    @include for-narrow-layout{
        width: 100%;
        & > *{
            font-size: 12px;
        }
    }
    @include for-normal-layout{
        width: 700px;
    }

}