.floating-menu {
    position: absolute;
    z-index: 200;
    top: 35px;
    left: -9px;
    background-color: $clr6;
    border-radius: 8px;
    width: 265px;
    padding: 8px;
    box-shadow: 0 4px 17px 6px rgba(0, 0, 0, 0.1);

    .menu-item {
        display: flex;
        align-items: center;
        font-family: figtree-l;
        line-height: 24px;
        padding: 4px 8px;
        cursor: pointer;
        user-select: none;
        border-radius: 4px;

        &:hover {
            background-color: $clr4;
        }

        &.category-color-list:hover{
            background-color: $clr6;
        }
    }

    .icon{
        height: 16px;
        width: 15px;
        margin-inline-end: 8px;

        &.color{
            width: 14px;
            height: 14px;
            border-radius: 50%;
        }
    }
}

.expense-menu.floating-menu{
    left: 28px;
    top: 28px;
}