.hero-wrapper{
    background-color: #05063a;
    padding-block-end: 100px;
}

.hero{
    position: relative;
    color: $clr6;
    height: 100vh;
    text-align: center;
    padding-top: 55px;

    &>*{

        font-family: poppins-l;
        font-weight: 100;
    }
    
    .main-title{
        font-size: 72px;
        max-width: 800px;
        margin: auto;
    }

    h2{
        margin-top: 30px;
    }
    
    .see-demo-btn{
        margin: auto;
        margin-top: 60px;
        background-image: linear-gradient(90deg, #5034FF 25.69%, #B4B4FF 100%);
        padding: 16px 20px 16px 31px;
        border-radius: 2em;
        position: relative;
        z-index: 10;

        span{
            font-size: 16px;
            line-height: 17px;
            font-weight: 500;
            text-transform: capitalize;

        }

        svg{
            width: 37px;
            height: 16px;
            position: relative;
            top: 2px;
        }

        &:hover{
            background-image: linear-gradient(90deg, #432cd5 25.69%, #9797d5 100%);
        }
    }

    .bold-me{
        position: relative;
        .underline{
            position: absolute;
            height: 1px;
            width: 90px;
            top: 35px;
            right: 0px;
            background: linear-gradient(90deg,transparent,#fff);

            @include for-mobile-layout{
                top: 27px;
            }
        }
    }



    @include for-mobile-layout{
        .main-title{
            font-size: 35px;
        }
    }
    @include for-narrow-layout{
        .main-title{
            font-size: 50px;
        }
    }
    @include for-normal-layout{
        .main-title{
            font-size: 60px;
        }
    }
}
