.category-preview {
    position: relative;
    margin-block-end: 90px;
    .first-cell-title {
        line-height: 27px;
        h1 {
            font-weight: 300;
            font-size: 18px;
            padding-inline-start: 15px;
            text-transform: capitalize;
        }
    }

    header .menu {
        cursor: pointer;
        width: 18px;
        height: 18px;
        border-radius: 1em;
        &::before {
            color: $clr2;
            font-family: fa;
            content: "\f0dd";
            position: relative;
            bottom: 2.5px;
        }
    }
}
