.category-preview {
    position: relative;
    margin-bottom: 40px;

    .title-container{
        position: sticky;
        left: 46px;
    }
    
    header {
        position: relative;
        z-index: 11;
        height: 40px;
        font-family: poppins-r;
        padding-inline-start: 6px;

        .category-title-txt {
            font-size: 17px;
            letter-spacing: 0.3px;
            text-transform: capitalize;
            user-select: none;
        }
        
        .sort-sign {
            cursor: pointer;
            width: 33px;
            height: 36px;
            border-radius: 1em;
            color: $clr2;
        }

        .menu-icon{
            position: absolute;
            left: -29px;
            top: 8px;
            border-radius: 4px;
            width: 24px;
            height: 24px;
            color: transparent;
            cursor: pointer;
            
            &:hover{
                background-color: #d0d4e4;
            }
            &::after{
                font-weight: 100;
            }
        }

        &:hover{
           .menu-icon{
            color: inherit;
        } 
        }
    }
}

.headers {
    text-transform: capitalize;
    
    .before-row {
      border-top-left-radius: 6px;
    }

}