.category-title-edit {
    font-size: inherit;
    padding-inline-start: 8px;
 input{
     padding-inline-start: 7px;
    font-weight: 300;
    font-size: 18px;
    height: 30px;
    border: 1px solid $clr9;
 }
}
