.category-mini-preview{

    border-radius: 6px;

    header .menu-icon{
        left: -35px;
    }
    header .arrow-icon{
        transform: rotate(270deg);
    }

    .expense-description, .expense-description > *{
    display: none;
        .checkbox-label{
            display: none;
        }
    }

    header{
        padding-inline-start: 0;
    }

    .before-row{
        position: sticky;
        z-index: 30;
        left: 40px;
        width: 6px;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .mini-title{
        width: 400px;
        position: sticky;
        left: 46px;
        z-index: 15;
        background-color: #fff;
        border: $table-border;
        
        .budget-num{
            margin-left: 32px;
            color: $clr7;
            position: relative;
            top: -5px;
        }
    }

    .mini-table{
        flex-grow: 1;
    }

    .headers.row-container{
        height: 24px;

    }

    .category-footer .cell{
        border: none;
        border-block-end: $table-border;
    }
    
    .headers .cell{
        border: none;
        border-block-start: $table-border;
    }
    
    .mini-table .cell:not(.last-cell){
        border-inline-end: $table-border;
    }

}