.category-preview {
    position: relative;
    margin-bottom: 40px;

    .title-container{
        position: sticky;
        left: 44px;
    }
    
    header {
        height: 40px;
        font-family: poppins-r;
        padding-inline-start: 6px;

        .category-title-txt {
            font-size: 17px;
            letter-spacing: 0.3px;
            text-transform: capitalize;
        }
        
        .menu {
            cursor: pointer;
            width: 33px;
            height: 36px;
            border-radius: 1em;
            color: $clr2;
        }
    }
}

.headers {
    text-transform: capitalize;
    
    .before-row {
      border-top-left-radius: 6px;
    }

}