.category-footer{

    .expense-description{
        border: none;
        box-shadow: 0 14px 0px 0px rgb(255, 255, 255);
    }
    
    .cell{
        border: none;
        border-inline-start: $table-border;
        border-block-end: $table-border;
        box-shadow: 0 8px 8px -8px rgba(0,0,0, 0.1);
    }

    .expense-preview:hover .cell{
        box-shadow: unset;
        background-color: unset;
    }

    // .col-list{
    // }
}



.category-label-footer{
    padding-inline: 8px;
    flex-direction: row-reverse;
    .label{
        height: 24px;
        transition: 0.1s;

        &:hover {
            height: 30px;
        }
    }
}