
.start-row{
    height: 100%;

    .before-row {
        width: 8px;
      }

      .checkbox-wrapper{
        width: 33px;
        height: 100%;
        
        .checkbox-label{
          width: 16px;
          height: 16px;
          border: #c3c6d4 1px solid;
          border-radius: 2px;
          cursor: pointer;
    
          input{
            visibility: hidden;
          }
        }
      }
}

.headers {
  .before-row {
    border-top-left-radius: 6px;
  }
}

.add-expense {
  .before-row {
    border-bottom-left-radius: 6px;  
  }
}