.account-header {
    border-bottom: $table-border;
    position: fixed;
    z-index: 200;
    right: 42px;
    left: 0;
    margin-inline-start:calc(66px + 70px);
    padding-top: 18px;
    padding-bottom: 1px;
    background-color: $clr6;
    
    .title {
        font-family: poppins-r;
        font-size: 31px;
        letter-spacing: -0.2px;
        border-radius: 4px;
        padding: 0 4px;
        border: 1px solid transparent;
        margin-inline-end: 16px;
        margin-block-end: 9px;
        width: fit-content;
        
        &:hover{
            border-color: #c3c6d4;
        }
    }
    
    .account-description{
        // font-family: figtree-m;
        font-size: 14px;
        font-weight: 500;

        .description-txt{
            cursor: pointer;
            padding: 8px;
        }

        input{
            border: 1px dashed transparent;
            max-width: 490px;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            &:hover, &:focus{
                border-color: #c3c6d4;
            }
        }
    }
    
    nav{
        align-self: flex-start;
    }
    
    &.scrolled{
        .title{
            font-size: 24px;
            margin-inline-end: 16px;
        }
    }
    
    *{
        opacity: 0.95;
        transition: 50ms;
    }
}
