.account-header {
    border-bottom: $table-border;
    position: fixed;
    z-index: 200;
    left: 0;
    right: 20px;
    margin-inline-start:calc(66px + 40px);
    padding-top: 18px;
    padding-bottom: 1px;
    background-color: $clr6;
    
    .title {
        font-family: poppins-r;
        font-size: 20px;
        letter-spacing: -0.2px;
        border-radius: 4px;
        padding: 0 4px;
        border: 1px solid transparent;
        margin-inline-end: 16px;
        // margin-block-end: 9px;
        width: fit-content;
        max-width: 178px;
        overflow: hidden;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        
        &:hover{
            border-color: #c3c6d4;
        }
    }
    
    .account-description{
        // font-family: figtree-m;
        font-size: 14px;
        font-weight: 500;

        .description-txt{
            cursor: pointer;
            padding: 8px;
        }

        input{
            border: 1px dashed transparent;
            max-width: 490px;
            width: 100%;
            padding: 8px;
            border-radius: 4px;
            &:hover, &:focus{
                border-color: #c3c6d4;
            }
        }
    }
    
    &:not(.scrolled) nav{
        align-self: flex-start;
        margin-block-start: 5px;
    }

    .menu-icon{
        height: 27px;
        width: 34px;
    }
    
    &.scrolled{
        .title{
            font-size: 16px;
            margin-inline-end: 16px;
            max-width: 165px;
            overflow: hidden;
            text-wrap: nowrap;
            text-overflow: ellipsis;
        }
        .account-description{
            display: none;
        }
    }
    
    *{
        opacity: 0.95;
        transition: 50ms;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    nav > * {
        margin-inline-start: 8px;
    }
    
    &.resp{

        nav{
            right: 10px;
            top: 70px;
            left: unset;
            
            &.open{
                .menu-item{
                    margin: 0;
                }
            }
        }
    }

    @include for-normal-layout {
        margin-inline-start: calc(66px + 70px);
        right: 42px;

        .title{
            font-size: 31px;
        }
        
        &.scrolled .title{
            font-size: 24px;
        }
        
    }
    @include for-narrow-layout {
        margin-inline-start: calc(66px + 70px);
        right: 42px;

        .title{
            font-size: 24px;
            max-width: 600px;
        }
        
        &.scrolled .title{
            font-size: 21px;
            max-width: unset;
            overflow: unset;
            text-wrap: unset;
            text-overflow: unset;
        }
        
    }

}

// .account-header {
//     margin-inline-start:calc(66px + 40px);
// }