* {
    box-sizing: border-box;
}

html {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: figtree-m;
    margin: 0;
    color: rgb(50, 51, 56);
    font-size: 14px;
}

.account-layout {
    background-color: $clr2;
    flex-grow: 1;
    margin-inline-start: 66px;
    height: 100vh;
    
}

h1,
h2,
h3,
h4,
h5,
p,
pre {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100%;
}

svg{
    width: 20px;
    height: 20px;
    color: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    outline: none;
    background-color: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

textarea {
    resize: none;
}

input, textarea, pre {
    padding: 0;
    outline: none;
    font-family: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
}

.account-layout {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

*{
    &::-webkit-scrollbar {
        width: 10px;
        height: 15px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #b2b2b2;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $clr2;
    }
}