// Font Sizes
.fs12 {
    font-size: rem(12px);
}
.fs14 {
    font-size: rem(14px);
}
.fs18 {
    font-size: rem(18px);
}
.fs20 {
    font-size: rem(20px);
}
.fs24 {
    font-size: rem(24px);
}
.fs28 {
    font-size: rem(28px);
}
.fs30 {
    font-size: rem(30px);
}

// flex helpers

.flex {
    display: flex;

    > *.full {
        flex: 1;
    }
    &.column {
        flex-direction: column;
    }
    &.justify-center {
        justify-content: center;
    }
    &.align-center {
        align-items: center;
    }
    &.space-between {
        justify-content: space-between;
    }
    &.flex-end {
        align-items: flex-end;
    }
    &.wrap {
        flex-wrap: wrap;
    }
    &.col {
        flex-direction: column;
    }
    &.center {
        justify-content: center;
        align-items: center;
    }
    &.row-re {
        flex-direction: row-reverse;
    }
}

.header-set {
    display: flex;
    align-items: center;
    justify-content: space-between;

    nav > * {
        margin-inline-start: 8px;
    }
}

.all{
    height: 100%;
    width: 100%;
}

.btn {
    padding: 4px 8px;
    cursor: pointer;
    border-radius: 4px;
    &.solid {
        &:hover {
            background-color: $clr4;
        }
    }
    &.suc {
        background-color: $clr5;
        color: $clr6;
        &:hover {
            background-color: #0060b9;
        }
    }
}

.link-like{
    color: #0fa2e2;
    cursor: pointer;
    padding: 0;
    font-size: inherit;
}