:root {
    --lb1: rgb(0, 160, 94);
    --lb1_bright: rgb(0, 200, 117);
    --lb2: rgb(2, 102, 61);
    --lb2_bright: rgb(3, 127, 76);
    --lb20: #7da91e;
    --lb20_bright: #9cd326;
    --lb3: #a29234;
    --lb3_bright: #cab641;
    --lb4: #cca200;
    --lb4_bright: #ffcb00;
    --lb5: #a29234;
    --lb5_bright: #cab641;
    --lb6: #603ca7;
    --lb6_bright: #784bd1;
    --lb7: #824ab0;
    --lb7_bright: #a25ddc;
    --lb8: #006b9a;
    --lb8_bright: #0086c0;
    --lb9: #467cca;
    --lb9_bright: #579bfc;
    --lb10: #52a3cc;
    --lb10_bright: #66ccff;
    --lb11: #962943;
    --lb11_bright: #bb3354;
    --lb12: #b5364a;
    --lb12_bright: #e2445c;
    --lb13: #cc116e;
    --lb13_bright: #ff158a;
    --lb14: #cc489d;
    --lb14_bright: #ff5ac4;
    --lb15: #cc5025;
    --lb15_bright: #ff642e;
    --lb16: #ca8931;
    --lb16_bright: #fdab3d;
    --lb17: #664239;
    --lb17_bright: #7f5347;
    --lb18: #9d9d9d;
    --lb18_bright: #c4c4c4;
    --lb19: #666666;
    --lb19_bright: #808080;
}
