@font-face {
    font-family: "fa";
    src: url(../../fonts/Fa/fa-solid-900.ttf);
}
@font-face {
    font-family: "fa-brands";
    src: url(../../fonts/Fa/fa-brands-400.ttf);
}
@font-face {
    font-family: "roboto-r";
    src: url(../../fonts/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: "roboto-b";
    src: url(../../fonts/Roboto/Roboto-Bold.ttf);
}
