// Colors
$clr5: rgb(0, 115, 234); //#0073EA
$clr1: rgb(41, 47, 76); //#292f4c
$clr3: rgb(50, 51, 56);
$clr7: rgb(103, 104, 121); //#676879
$clr4: rgb(230, 233, 239); //#E6E9EF
$clr2: rgb(245, 246, 248); //#F5F6F8
$clr6: rgb(255, 255, 255);
$clr8: rgb(196, 196, 196); //#c4c4c4
// $clr9: rgb(208, 212, 228); //#d0d4e4



$inline-padding: 38px;
$cell-width: 100px;

