
.inherit::after, .inherit::before{
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
}

.sort-up {
    cursor: pointer;
    &::before {
        font-family: fa-solid;
        content: "\f0de";
    }
}
.sort-down {
    cursor: pointer;
    &::before {
        font-family: fa-solid;
        content: "\f0dd";
    }
}

.decline {
    &::after {
        font-family: fa-solid;
        content: "\f00d";
    }
}

.confirme {
    &::after {
        font-family: fa-solid;
        content: "\f00c";
    }
}

.plus {
    &::before {
        
        font-family: fa;
        content: "\2b";
    }
}

.star {
    &::after {
        font-family: fa;
        content: "\f005";
    }
    &.full {
        &::after {
            font-family: fa-solid;
        }
    }
}

.board {
    &::before {
        font-family: fa-solid;
        content: "\f0db";
        color: $clr7;
    }
}

.x {
    &::before {
        font-family: fa-solid;
        content: "\f00d";
        font-weight:100 ;
    }
}

