.account-details {
    background-color: $clr6;
    min-height: 100%;
    min-width: 100%;
    position: absolute;

    
    main {

        .btn {
            padding: 8px;
        }
    }
    
    .main-account-details{
        padding-left: 40px;
        // flex-grow: 1;
    }
}

.account-details-scroll{
    position: absolute;
    inset: 0;
    left: 30px;
    overflow: auto;
}