.account-details {
    background-color: $clr6;
    min-height: 100%;
    min-width: 100%;
    position: absolute;

    main {

        .btn {
            padding: 8px;
        }
    }
    
    .main-account-details{
        padding-left: 40px;
    }
}

.account-details-scroll{
    position: absolute;
    inset: 0;
    left: 550px;
    left: 30px;
    overflow: auto;

    .side-wrapper{
        position: fixed;
        width: 39px;
        z-index: 20;
        height: calc(#{100vh} - #{15px});
        background-color: #fff;
    }
    .top-wrapper{
        position: fixed;
        z-index: 10;
        width: calc(#{100vw} - #{106px});
        height: 149px;
        background-color: #fff;
    }
}

.expense-details-show{
    .account-details-scroll{
        right: 590px;
    }
}