// .expense-details{
//     width: 550px;
//     background-color: aquamarine;
//     height: 100vh;
// }
.expense-details{
    position: absolute;
    inset: 0;
    left: 550px;
    z-index: 999;
    background-color: aqua;
}