.user-profile{

    .usermane{
        margin-bottom: 30px;
        text-transform: capitalize;
    }
    
    .profile-img{
        width: 100px;
        height: 100px;
        border-radius: 20em;
        margin-bottom: 30px;
    }


    
}