.expense-preview-wrapper{
    
    position: relative;
    padding-left: 38px;
    left: -38px;
    transition: 0.3s;
    
    .menu {
        color: $clr3;
        position: absolute; //TODO: change to fixed for scroll
        left: 9px;
        top: 7px;
        width: 21px;
        height: 21px;
        padding: 1px 1px;
        border-radius: 4px;
        opacity: 0;
        transition: inherit;
        z-index: 1000;
        
        &:hover{
            background-color: $clr8;
        }
    }

    .menu-icon{
        height: 27px;
        width: 36px;
    }
    
    &:hover .menu{
        opacity: 1;
    }
}


.dragging{
    opacity: 0.8;
    .checkbox-wrapper, .cell{
        background-color: rgb(222, 222, 232);
    }
    .expense-preview{
        transform: rotate(1deg);
    }
    .cell, .checkbox-wrapper{
        border-color: rgba(255, 255, 255, 0.8);
    }
}

.expense-cell-user{
    position: relative;

    .user-list{
        right: -33%;
    }
}