.expense-description{
  position: relative;
  background-color: $clr6;
  border-inline-end: 1px solid $clr8;
  z-index: 15;

  .description-container{
    height: 100%;
    width: 100%;
    padding-inline-start: 35px;
    align-items: center;
  }

  .btn.edit-btn{
    visibility:hidden;
    color: $clr7;
    display: flex;
    align-items: center;
    height: 24px;
    padding: 2px 8px;
    margin-inline-start: 8px;
    &:hover{
      background-color: $clr2;
    }
  }

  &:hover{
    .btn.edit-btn{
      visibility: visible;
    }
  }
}