.expense-preview {
    // position: relative;
    border-bottom: 1px solid $clr6;
    cursor: pointer;
    user-select: none;
    width: 100%;
    
    .menu-wrapper {
        background-color: $clr6;
    }
    
    .first-cell.expense-description{
        position: sticky;
        z-index: 100;
        // background-color: rgba(253, 253, 250, 0.95);
    }
    
    .menu {
        opacity: 0;
        height: 18px;
        width: 18px;
        background-color: $clr4;
        border-radius: 4px;
        margin-inline-end: 7px;
        &::before {
            position: relative;
            bottom: 3px;
        }
    }

    .first-cell {
        .description {
            margin-inline-start: 15px;
            line-height: 24px;
        }

        .before {
            width: 8px;
            height: 100%;
        }
    }
    .cell,
    .first-cell {
        border-bottom: 1px solid $clr4;
        border-right: 1px solid $clr6;
        background-color: $clr2;
    }
    
    .date {
        height: 100%;
        width: 100%;
    }

    &:hover {
        background-color: $clr4;

        .menu {
            opacity: 1;
        }
    }
}
