.expense-preview-wrapper{
    
    position: relative;
    padding-left: 38px;
    left: -38px;
    transition: 0.3s;
    
    
    
    .menu {
        color: $clr3;
        position: absolute;
        left: -33px;
        top: 7px;
        width: 21px;
        height: 21px;
        padding: 1px 1px;
        border-radius: 4px;
        opacity: 0;
        transition: inherit;
        
        &:hover{
            background-color: $clr8;
        }
    }
    
    &:hover{
        .menu{
            opacity: 1;
        }
    }
}
