.month-header {
    position: sticky;
    top: 57px;
    z-index: 199;
    padding: 16px 0;
    background-color: $clr6;
    width: calc(100vw - 140px - 30px);
    left: 40px;
    
    .month-title {
        margin-block-end: 10px;
    }

    .btn.circel {
        border-radius: 2em;
        width: 25px;
        height: 25px;
    }

    .next{
        transform: scale(-1, 1);
    }

    nav {
        .btn {
            border-radius: 4px;
            margin-inline-end: 15px;
        }
    }
}
