.month-header {
    padding: 16px 0;
    .month-title {
        margin-block-end: 10px;
    }
    nav {
        .btn {
            border-radius: 4px;
            margin-inline-end: 15px;
        }
    }
}
