
.cell {
    cursor: pointer;
    border-inline-start: 1px solid $clr8;
}

.row-container {
    height: 36px;
    display: grid;
    grid-template-columns: 400px repeat(auto-fit, 129px);
    grid-auto-flow: column;
    grid-auto-columns: 129px;
    grid-template-rows: 36px;
    border-top: 1px solid $clr8;
    .profile-img{
            width: 30px;
            height: 30px;
        }
}
    
.headers {
    &.row-container{
        // border-inline-start: 1px solid $clr8;
        border-top-left-radius: 6px;
    }
    .budget{
        flex-grow: 1;
        color: $clr7;
    }
}
